@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


/* main parts */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: "Lato", sans-serif;
  position: relative;
  background-color: orange;
}

header {
  color: red;
  padding: 40px;
}

/* utilties */

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr)
}




.img1 {
  display: block;
  z-index: -1;
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 0 3px 10px rgba(0,0,0, 0.2);
  border-radius: 20px;
  animation: loading 4s;
  transition: 0.3s ease-in-out;
}

@keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.img1:hover {
  transform: scale(1.1);
}

header .flex {
  justify-content: space-between;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
  color: red;
}

.nav-links li a:hover {
  color: aqua;
}

/* middle */

.showcase2 {
  height: 500px;
  margin-top: 100px;
}

.img3 {
  width: 450px;
  border-radius: 20px;
  margin-right: 20px;
  box-shadow: 0 3px 10px rgba(0,0,0, 0.2);
  transition: 0.3s ease-in-out;
}

.img3:hover {
  transform: scale(1.1);
}

p {
  display: inline;
  text-align: center;
}

.showcase-text h2 {
  padding-bottom: 20px;
}




/* last two pictures section */

.img4 {
  width: 70%;
  border-radius: 30px;
  box-shadow: 0 3px 10px rgba(0,0,0, 0.2);
  transition: 0.3s ease-in-out;
}

.img4:hover {
  transform: scale(1.1);
}

.showcase3 {
  height: 600px;
}

.news {
  width: 60%;
  box-shadow: 0 3px 10px rgba(0,0,0, 0.2);
  transition: 0.3s ease-in-out;
}

.news:hover {
  transform: scale(1.1);
}

.showcase3 .grid {
  grid-template-columns: 50% 50%;
  gap: 20px;
}

/* footer section */

footer {
  background-color: black;
  color: #fff;
  height: 150px;
}

footer .grid {
  grid-template-columns: 70% 30%;
}

footer .flex {
  flex-direction: column;
}

h4 {
  font-size: 20px;
  display: block;
  font-weight: 1100;
  padding-bottom: 10px;
}

/* icons footer */

.fab {
  font-size: 50px;
  color: #fff;
}



.facebook .fab:hover {
  color: aqua;
}

/* locations html */

iframe {
  width: 100%;
  border-radius: 30px;
  display: block;
  margin: 0 auto;
  box-shadow: 0 3px 10px rgba(0,0,0, 0.2);
}

.maps {
  height: 800px;
}


.contact h2 {
  display: inline;
}

.contact span {
  border-bottom: seagreen 2px solid;
  display: inline;
}

/* menu.html */

.menu1 {
  background-image: url(./imgs/Food1.jpg);
  background-size: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50px;
}

.menu-small {
  color: #fff;
}

.menu-text h3 {
  font-weight: 100;
}


.menu-text {
  height: 1200px;
}

.menu-small h3 {
  border-bottom: 3px black solid;
  margin-bottom: 30px;
}

.menu-main {
  background-color: white;
  background-image: url(./imgs/Food1.jpg);
  background-size: 1000px;
  background-repeat: no-repeat;
  width: 100%;
  height: 900px;
  margin-bottom: 100px;
  box-shadow: 0 3px 10px rgba(0,0,0, 0.2);
  border-radius: 30px;
}


.oko {
  /* I set width on grid so this follows it */
  margin: 0 auto;
  background-color: ;
  margin-top: 20px;
  padding: 0 10px 0px 20px;
  width: 90%;
  
}




.soba {
  margin: 0 auto;
  margin-top: 20px;
}


.oko h1 {
  margin-top: 20px;
  padding-bottom: 20px;
  padding-top: 30px;
  margin-right: 20px;
}

.soba h1 {
  padding-bottom: 30px;
  padding-top: 30px;
  margin-right: 20px;
}

.oko ul {
  padding-bottom: 10px;
  
}


.oko {
  background-color: #fff;
  border-radius: 20px;
}

.soba {
  background-color: #fff;
  border-radius: 20px;
}



.menu-main .grid {
  height: 400px;
}



.oko2 {
  margin: 0 auto;
  background-color: #fff;
  padding-right: 70px;
  border-radius: 20px;
  margin-top: 20px;
}

.soba1 {
  margin: 0 auto;
  background-color: #fff;
  border-radius: 20px;
  padding-right: 60px;
  margin-top: 20px;
}

.third {
  background-color: #fff;
  display: inline-block;
  border-radius: 20px;
}

.menu-text ul {
  list-style: none;
}




.oko li::after {
  content: "300";
  padding-left: 20px;
}











